<div class="container">
    <div class="row">
        <div class="col-4 mb-4" *ngFor="let livre of livres">
            <div class="card shadow my-card">
                <img class="card-img-top img-responsive" src="{{apiurl+'/image/loadfromFS/'+livre.idLivre}}" alt="{{livre.nomLivre}}" style="height: 200px; width: 100%">
                <div class="card-body">
                    <h5 class="card-title">{{livre.nomLivre}}</h5>
                    <table class="table table-striped">
                        <tr>
                            <td><strong>ID:</strong></td>
                            <td>{{livre.idLivre}}</td>
                        </tr>
                        <tr>
                            <td><strong>Nom:</strong></td>
                            <td>{{livre.nomLivre}}</td>
                        </tr>
                        <tr>
                            <td><strong>Prix:</strong></td>
                            <td>{{livre.prixLivre}}</td>
                        </tr>
                        <tr>
                            <td><strong>Date de création:</strong></td>
                            <td>{{livre.dateCreation | date:'dd/MM/yyyy'}}</td>
                        </tr>
                        <tr>
                            <td><strong>Genre:</strong></td>
                            <td>{{livre.genre.nomGenre}}</td>
                        </tr>
                    </table>
                    <div *ngIf="authService.isAdmin()">
                        <a class="btn btn-danger" (click)="supprimerLivre(livre)">Supprimer</a>
                        <a class="btn btn-success" [routerLink]="['/updateLivre',livre.idLivre]">Modifier</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
